.menu-container {
  height: 40px;
  padding-left: 12px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-item {
    display: flex;
    align-items: center;
    color: #646464;
    text-decoration: none;

    .menu-title {
      margin-left: 16px;
      font-size: 14px;
    }
  }

  .toggle-arrow {
    align-self: right;
  }
}

.divider {
  color: #e9ecef;
}

.submenu-a {
  height: 40px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #646464;
  text-decoration: none;

  .submenu-title {
    font-size: 14px;
  }

  .sub-icon {
    width: 20px;
    aspect-ratio: 1;
    margin-left: 4px;
    background-size: cover;
    background-position: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.selected {
  background-color: #f3f0ff;
  cursor: default;
  .submenu-title {
    color: #242424;
  }
}
