.outlined-table {
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  background-color: transparent;
  * {
    font-family: "Noto Sans KR";
  }

  .mdc-data-table__header-cell {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
  }

  .align-right {
    text-align: right;
  }

  .base-chip {
    height: 24px;
  }

  .outlined-chip {
    border: 1px solid rgba(0, 0, 0, 0.87);
    background-color: transparent;
    span {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .contained-chip {
    background-color: #3f51b5;
    span {
      color: #ffffff;
    }
  }
}

.custom-paginator {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    border: none;
    width: 34px;
    height: 34px;
    margin: 0 5px;
    cursor: pointer;
  }
  .page-num-btn {
    margin-bottom: 6px;
  }
  .selected {
    background-color: #3f51b5;
    color: #ffffff;
    cursor: default;
  }
  .disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
  }
  .row-num-field {
    margin-bottom: -22.5px;
    width: 60px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    ::ng-deep .mdc-text-field--filled {
      background-color: transparent;
      padding: 0 4px;
      ::ng-deep .mat-mdc-form-field-infix {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 10px;
      }
    }
  }
}
