.title-container {
  padding: 20px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .h1-style {
    margin: 0;
  }

  .tip-container {
    margin-left: 24px;
    padding: 10px 20px;
    background-color: #edf2ff;
    border-radius: 10px;
    display: flex;
    align-items: center;

    .tip-text {
      margin-left: 12px;
      font-size: 14px;
    }
  }
}
