.mdc-list-item.mdc-list-item--with-one-line {
  height: auto;
}

.the-sidenav {
  width: 250px;
  min-height: 100vh;
  border-right: 1px solid #e9ecef;

  .logo-container {
    width: 100%;
    height: 86px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: 48px;
    }
  }

  .mdc-list-item {
    padding: 0;
  }
}
