<div class="control-container">
  <mat-form-field appearance="outline" class="select-division">
    <mat-label>거래구분</mat-label>
    <mat-select class="select-custom" value="all">
      <mat-option value="all">전체</mat-option>
      <mat-option value="sale">매출</mat-option>
      <mat-option value="purchase">매입</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="select-division margin-left20">
    <mat-label>과세구분</mat-label>
    <mat-select value="all">
      <mat-option value="all">전체</mat-option>
      <mat-option value="non">면세</mat-option>
      <mat-option value="zero">영세</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="select-quarter margin-left20">
    <mat-label>분기검색</mat-label>
    <mat-select value="2201">
      <mat-option value="2201">2022년 1분기</mat-option>
      <mat-option value="2202">2022년 2분기</mat-option>
      <mat-option value="2203">2022년 3분기</mat-option>
      <mat-option value="2204">2022년 4분기</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="datepick-period margin-left20">
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="2022/01/05" />
      <input matEndDate placeholder="2022/06/22" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-searchbox margin-left20">
    <input matInput type="text" />
    <span
      matSuffix
      class="material-symbols-outlined"
      style="margin-right: 16px; color: rgba(0, 0, 0, 0.54)"
    >
      search
    </span>
  </mat-form-field>
</div>
